{
	http_port 3000
	https_port 3433
	auto_https off

	log default {
		exclude http.log.access admin.api
	}

	log badbotblocker {
		include http.matchers.badbotblocker
		output file ./log/badbotblocker.log
	}
}

(blocker) {
	route {
		@banned badbotblocker
		route @banned {
			log_skip
			abort
		}
	}
}

localhost:3000 {
	import blocker

	log {
		output file ./log/access.log
	}

	respond "Hello, world!"
}
